@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,800;1,400&family=Space+Grotesk:wght@300;400;600&display=swap');

/* Basic setup to support the custom cursor */
a,
button,
.hover-trigger {
  cursor: none !important;
}

/* Custom Cursor */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d4af37;
  /* var(--color-accent) */
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
  mix-blend-mode: exclusion;
}

.custom-cursor.hover {
  width: 60px;
  height: 60px;
  background-color: rgba(212, 175, 55, 0.4);
  backdrop-filter: blur(2px);
  border: 1px solid #d4af37;
}

/* GSAP Helper */
.clip-text {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}